<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <applicationInitialization doAppInitAfterRestart="true">
            <add initializationPage="/api/health" />
        </applicationInitialization>
        <httpCompression>
            <dynamicTypes>
                <add mimeType="application/json" enabled="true" />
                <add mimeType="application/javascript" enabled="true" />
                <add mimeType="text/css" enabled="true" />
            </dynamicTypes>
            <staticTypes>
                <add mimeType="application/javascript" enabled="true" />
                <add mimeType="text/css" enabled="true" />
                <add mimeType="image/svg+xml" enabled="true" />
            </staticTypes>
        </httpCompression>
        <staticContent>
            <mimeMap fileExtension=".webp" mimeType="image/webp" />
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
        </staticContent>
    </system.webServer>
</configuration>
