includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/

    # Level of rule options - the higher the stricter
    level: 5

    # Ignore errors on Laravel auto-discovered classes
    ignoreErrors:
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Builder#'
        - '#Access to an undefined property Illuminate\\Database\\Eloquent\\Model#'

    excludePaths:
        - ./*/*/FileToBeExcluded.php

    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
